body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

th{
    background-color: #777;
    color: #fff;
}

td, th {
    padding: .5em !important;
    border:1px solid #444 !important;
}


tr:nth-child(even) {
    background-color: #bfEfbf;
}

td:last-child{
    text-align: center;
}  



